/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: var(--color-secondary);
}

.navbar {
    background-color: var(--color-primary);
}

.navbar-brand {
    color: var(--color-light);
}

.navbar-nav .nav-link {
    color: var(--color-light);
}

    .navbar-nav .nav-link:hover {
        color: var(--color-secondary);
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--color-light);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-light);
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

    footer a {
        color: var(--color-secondary);
    }

        footer a:hover {
            color: var(--color-accent);
        }